{% extends "AppBlogBundle::layout.html.twig" %}

{% form_theme form "form_table_layout.html.twig" %}

{% block title 'Request password' %}

{% block content %}
    <h1>Request password</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-lg btn-primary btn-block">Send request</button>
    {{ form_end(form) }}
{% endblock %}
