{% extends "::base_admin.html.twig" %}

{% block body_admin %}
    <section id="content" class="sbr">
        <div class="container clearfix">
            {% block body %}
            {% endblock %}
        </div>
    </section>
    

{% endblock %}